$background-color: #fff;

$rating-button-default-color: #f4f4f4;
$rating-button-hover-color: #eaeaea;

$comment-button-active-color: #00a876;
$comment-button-hover-color: #4cc36f;
$comment-button-disable-color: #9b9b9b;

$input-default-color: #f4f4f4;
$input-active-color: #eaeaea;

$border-color: #eaeaea;

$positive-rating-color: #00a876;
$negative-rating-color: #ff003c;
$default-rating-color: #7f7f7f;

$text-primary-color: #222;
$text-secondary-color: #7f7f7f;

$positive-color: #00a876;
$positive-hover-color: #4cc36f;

$font-size-extra-large: 18px;
$font-size-large: 16px;
$font-size-medium: 14px;
$font-size-small: 12px;

$line-height-extra-large: 24px;
$line-height-large: 20px;
$line-height-medium: 16px;

$container-width: 375px;
