@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.comment-section {
  max-width: 900px;

  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 15px 16px;

  &__header {
    font-size: $font-size-large;
    align-self: flex-start;
    font-weight: 600;
  }
}

@include mobile {
  .comment-section {
    &__header {
      font-size: $font-size-extra-large;
    }
  }
}

@include smallTablet {
  .comment-section {
    &__header {
      font-size: 20px;
    }
  }
}
